/* Biography Box */
.biographybox {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
/* Biography Image */
.bioimg {
  width: 200px;
  height: 200px;
}
/* Biography Paragraph */
#biopar {
  width: 70%;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
