.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  padding: 10px;
}

#navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #448bfe;
  transition: all 0.3s ease-in-out;
}
body {
    margin: 0;
    padding: 0;
  }
